.click {
    height:60px;
    width:150px;
    background-color: blue;
    color:red ;
}
.container {
    height: 600px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-color: red;
}
.content {
    height: 600px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    color: blue;
}